body{
    display: flex;
    justify-content: center;
    font-family: Roboto;
}

.containerdiv{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.logodiv{
    background-color: rgb(207, 164, 247);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(8, 0, 0, 0.349);
}

.inputbox{
    display: flex;
    padding: 10px;
    justify-content: center;
}

.inputdiv{
    background-color: rgb(168, 255, 255);
    padding: 10px;
    box-shadow: 5px 5px rgba(8, 0, 0, 0.349);
    border-radius: 20px;
}

.textdiv{
    background-color: rgb(194, 248, 139);
    padding: 10px;
    box-shadow: 5px 5px rgba(8, 0, 0, 0.349);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

h2{
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

p{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.inputcontainer{
    box-shadow: 5px 5px rgba(8, 0, 0, 0.349);
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    
}

input{
    border: none;
    border-radius: 5px;
    font-size: larger;
}

button{
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
    border: none;
}

button:hover{
    background-color: black;
    color: white;
}
